@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #eaeaea;
  min-height: 100vh;
  border: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  outline: none;;
}


@import 'base/variables';
@import 'base/mixins';



@import 'stylekit/colors';
@import 'stylekit/flex';
@import 'stylekit/margin';
@import 'stylekit/padding';
@import 'stylekit/dimensions';
@import 'stylekit/spacing';
@import 'stylekit/fonts';
@import 'stylekit/utils';
@import 'stylekit/responsive';

@import 'components/button';
@import 'components/checkbox';
@import 'components/ActionLoader';

@import "components/Form";
@import "components/TootTip";
@import "components/Modal";
@import "components/Header";
@import "components/Pageloader";
@import "components/PwaModal";
@import "components/Sheet";
@import "components/Sticky";

.hCenter {
  left: 50%;
  transform: translateX(-50%);
}
.pt-0 {
  padding-top: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}